<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create Tv Show</title>

</head>
<body>
    <div class="container">
        <h1> Edit Show {{show.id}} </h1>
        <form action="/read/{{show.id}}/edit"  method="POST">
            {% csrf_token %}
            <p>Title</p> 
            <input type="text" name="title">
            <br>
            <p>Network</p>
            <input type="text" name="network" >
            <p>Release Date</p>
             <input type="date" name="release_date">
            <br>
           <p>Description</p> 
           <input type="text" name="description">
            <br>
            <button>Update</button>
        </form>
        <a href="">Go to Show</a>
    </div>
    

</body>
</html>