<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
    <style>
        .register{
            width: 200px;
            min-height: 400px; 
            border: solid black;
        }
        .login{
            width: 200px;
            min-height: 200px; 
            border: solid black;
        }
        .register, .login{
            display: inline-block;
            vertical-align: top;
        }

    </style>
</head>
<body>
    <div class="register">
        <h4>Registration</h4>
        <form action="/create" method="POST">
            {% csrf_token %}
            First Name: <input type="text" name="first_name">
            <br>
            Last Name: <input type="text" name="last_name">
            <br>
            Email : <input type="email" name="email">
            <br>
            Password: <input type="text" name="password">
            <br>
            Confirm PW: <input type="text" name="confirm_pass" >
            <br>
            <Button>Register</Button>
        </form>
        <div>
            {% if messages %}
        <ul class="messages">    
            {% for message in messages %}    
        <li {% if message.tags %} class="{{ message.tags }}"
            {% endif %}>{{ message }}</li>    
            {% endfor %}
        </ul>
            {% endif %}
        </div>
    </div>
    <div class="login">
        <h4>Login</h4>
        <form action="/login" method="POST">
                {% csrf_token %}
            Email: <input type="email" name="email">
            <br>
            Password: <input type="password" name="password">
            <br>
            <button type="submit">Log In</button>
        </form>
        <div>
                {% if messages %}
            <ul class="messages">    
                {% for message in messages %}    
            <li {% if message.tags %} class="{{ message.tags }}"
                {% endif %}>{{ message }}</li>    
                {% endfor %}
            </ul>
                {% endif %}
            </div>
    </div>
    
</body>
</html>