<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>checker</title>
    <style>
        .container1{
            background-color:red;
            width: 20px;
            height: 20px;
            display: inline-block;
            }
        .container2{
            background-color:green;
            width: 20px;
            height: 20px;
            display: inline-block;
        }   
        </style>
</head>
<body>
    <h1>Welcome</h1>
    {% for i in range(times): %}
        {% for j in range(times): %}
        <div class="container1"></div>
        <div class="container2"></div>
        {% endfor %}
    {% endfor %}
</body>
</html>