<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class='container'>
        <h1>All Users</h1>
        <table class="table">
            <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>Email</th>
                <th>Age</th>
            </tr>
            <br>
        </table>
        <br>
        <br>
        <form action="/" method="POST">
            Full_name: <input type="text" name="full_name"> 
            <br>
            <br>
            Email:     <input type="email" name="email">
            Age:       <input type="number" name="age">
            <br> 
            <br> 
            <button>submit</button>
        </form>
    </div>
</body>
</html>