<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
     integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .container{
            width: 500px;
            min-height: 500px;
            border: darkblue solid;
        }
        .form, .table{
            width: 200px;
            min-height: 300px;
            display: inline-block;
            vertical-align: top;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="form">
            <h1>Add an Author</h1>
            <form action="/authors" method="POST">
                {% csrf_token %}
                First Name: <input type="text" name="first_name">
                Last Name: <input type="text" name="last_name">
                Note: <input type="text" name="notes">
                <br>
                <button>Add</button>
            </form>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <thead>
                {% for author in authors %}
                <tr>
                    <td>{{author.id}}</td>
                    <td>{{author.first_name}}</td>
                    <td><a href="authors/{{author.id}}">Action</a></td>
                </tr>
                {% endfor %}
            </thead>
        </table>
        </div>
    </div>
</body>
</html>