<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <p>{{author.first_name}}</p>
    <p>{{author.id}}</p>
    <p>{{author.notes}}</p>
    
    <form action="/authors/{{author.id}}" method="POST">
        {% csrf_token %}
        <select name="book_id" id="">
            {% for book in books %}
                <option value="{{book.id}}">{{book.title}}</option>
            {% endfor %}
        </select>
        <br>
        <button>Add</button>

    </form>
</body>
</html>