<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .details{
            width: 200px;
            min-height: 400px; 
            border: solid black;
            margin: 15px;
        }
        </style>
</head>
<body>
    <h4>Hello {{request.session.first_name}}! This is your trip!</h4> 
    <a href="logout">Logout</a>
    <a href="main_page">Home</a>
    <p>{{job.title}}</p>
    <div class="details">
        <p> {{job.description}}</p>
        <p>Location: {{job.location}}</p>
        <p>Posted by : {{request.session.first_name}}</p>
        <p>Posted on: {{job.created_at}}</p>
    </div>
</body>
</html>